@keyframes twinkler {
  0% {opacity: .4;}
  100% {opacity: 1;}
}

.stars--wrapper {
  background-color: $color-dark;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.stars--star {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  // animation: twinkler .5s linear infinite alternate;
}

@for $i from 0 through 11 {
  $duration: ($i / 11 * 10) + .4;
  .stars--star-#{$i} {
      animation: twinkler #{$duration}s linear infinite alternate;
  }
}



.stars--nebula {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
      to top right, 
      $color-red, $color-blue
    );
  opacity: .06;
  z-index: 0;
  
}