$color-dark: #111;
$color-light: #fff;

$color-gray-dk: #1f1f1f;
$color-gray-md: #888;
$color-gray-lt: #ddd;

$color-teal: #00FCDB;
$color-purple: #9200D7;
$color-blue: #157EFB;
$color-red: #FF2048;
$color-purple: #9200D7;
$color-yellow: #ffd900;
$color-orange: #ff521b;
$color-green: #14C905;
